.productosPrincipal{
    margin: auto;
}
.card-img-top{
    width: 40vh;
    height: 20vh;
}
.card-group{
    margin-top: 3%;
    position: relative;
    display: inline-block;
}
.card{
 margin: 2vh;
}
.cardProd{
  display: inline-block;
  width: 400px;
  margin: 2rem;
}
