<app-inicio></app-inicio>
<div class="productosPrincipal">
  <div class="card-group carro" *ngFor="let productos of productosCatego">
    <mat-card class="cardProd">
      <mat-card-header>
        <mat-card-title>{{productos.nombre}}</mat-card-title>
        <mat-card-subtitle>Precio: {{productos.precio}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/{{productos.imagen}}">
      <mat-card-content>
        <p>{{productos.descripcion}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="verProducto(productos.id)" mat-button>Ver</button>
        <button mat-raised-button color="primary" (click)="addProducto(productos.id)" mat-button>Añadir</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
