/* You can add global styles to this file, and also import other style files */

body {
  background-color: rgb(255, 255, 255);
}

.productosPrincipal {
  margin: auto;
  text-align: center;
}

.card-img-top {
  width: 40vh;
  height: 20vh;
}

.card-group {
  margin-top: 3%;
  position: relative;
  display: inline-block;
}
.card-body{
  text-align: left;
}
.card {
  margin: 2vh;
}
