<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Comercio Electronico</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" id="itemCategoria">
          <a class="nav-link active" aria-current="page" (click)="goInicio()">Inicio</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngFor="let items of categorias">
        <li class="nav-item" id="itemCategoria">
          <a class="nav-link active" aria-current="page" (click)="goCategoria(items.id)">{{items.nombre}}</a>
        </li>
      </ul>
      <ul class="navbar-nav"
        style="width:auto;margin-left: 50%;background-color:dimgray;border-radius: 10px;color:black">
        <li class="nav-item carro" id="itemCategoria">
          <a class="nav-link active" aria-current="page" (click)="verCarro()">Carrito🛒<span
              style="color:red;font-weight: 500">{{carrito.length}}</span></a>
        </li>

      </ul>
      <div class="divCarro" *ngIf="mostrarCarro">
        <h2>Productos</h2>
        <div class="itemsCarro">
          <ul class="dropdown carro" *ngFor="let item of prodCarro">
            <li><a class="dropdown-item">{{item.nombre}} - {{item.precio}}€ </a></li>
          </ul>
        </div>
        <div class="divTotal">
          <ul>
            <li><a>Total: {{precioTotal}} €</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="productosPrincipal">
  <h1>Productos Destacados</h1>
  <div class="card-group" *ngFor="let productos of prodDestacados">
    <div class="card">
      <span>DESTACADO</span>
      <img src="../../assets/{{productos.imagen}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{productos.nombre}}</h5>
        <h6 class="card-title">{{productos.precio}}€</h6>

        <p class="card-text">{{productos.descripcion}}</p>
        <a class="btn btn-primary" (click)="verProducto(productos.id)">Ver</a>
        <a class="btn btn-success" style="float: right;" (click)="addProducto(productos.id)">Añadir</a>
      </div>
    </div>
  </div>
</div>
